@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
}

.navbar .logo {
    max-height: 2.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.container, .container-fluid {
    padding-top: 12em;
    flex: 1;
    margin-bottom:3em;
}

.card.offer, .offer-details .list-group-item {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.card-img-top-wrapper {
    height: 12em;
    overflow: hidden;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding: 10px 30px;
    border-radius: 20px;
}

.text-center {
    color: #00131c;
    size: 2em;
}

footer {
    margin-top: 1em;
    text-align: center;
    padding: 2px;
}

footer p {
    color: #FFF;
    margin-bottom: 0;
}

.card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.navbar-nav {
display:flex;
}

.welcome-text{
  font-size: 3em;
  padding-left:20%;
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  margin-bottom:3em;
}

.welcome-text:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.card-text{
color:#455D7A;
}

a {
color:black;
}

.banner {
max-height:5em;
}