html, body {
    height: 100%;
    margin: 0;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
}

.navbar .logo {
    max-height: 2.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.container, .container-fluid {
    padding-top: 12em;
    flex: 1;
}

.card.offer, .offer-details .list-group-item {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.card-img-top-wrapper {
    height: 12em;
    overflow: hidden;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding: 10px 30px;
    border-radius: 20px;
}

.text-center {
    color: #00131c;
    size: 2em;
}

footer {
    margin-top: 1em;
    text-align: center;
    padding: 2px;
}

footer p {
    color: #FFF;
    margin-bottom: 0;
}

.card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.navbar-nav {
display:flex;

}