<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>MotorcycleBG</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addImageInput.js" defer></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'add-equipment'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Upload Equipment</h2>
    <form
            th:action="@{/equipments/add}"
            th:method="post"
            th:object="${addEquipmentDTO}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">

            <div class="form-group col-md-6 mb-3">

                <label class="text-center text-white font-weight-bold" th:for="equipmentType">
                    Equipment Type</label>
                <select th:field="*{equipmentType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select equipment type -</option>
                    <optgroup label="Type">
                        <option th:each="type: ${allEquipmentTypes}"
                                th:value="${type}"
                                th:text="${type}">
                            Equipment type
                        </option>
                    </optgroup>
                </select>
                <!--                <p class="invalid-feedback errors alert alert-danger">-->
                <!--                    Condition type is required.-->
                <!--                </p>-->
                <small
                        th:errors="*{equipmentType}" class="text-danger">Condition type error
                </small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="equipmentBrand" class="text-white font-weight-bold">Equipment brand</label>
                <input th:field="*{equipmentBrand}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Equipment brand"/>

                <small
                        th:errors="*{equipmentBrand}" class="text-danger">Equipment brand error
                </small>
            </div>


        </div>

        <div class="row">

            <div class="form-group col-md-6 mb-3">

                <label class="text-center text-white font-weight-bold" th:for="equipmentConditionType">Equipment
                    Condition</label>
                <select th:field="*{equipmentConditionType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select equipment condition type -</option>
                    <optgroup label="Condition type">
                        <option th:each="type: ${allEquipmentConditionTypes}"
                                th:value="${type}"
                                th:text="${type}">
                            Equipment condition
                        </option>
                    </optgroup>
                </select>
                <!--                <p class="invalid-feedback errors alert alert-danger">-->
                <!--                    Condition type is required.-->
                <!--                </p>-->
                <small
                        th:errors="*{equipmentConditionType}" class="text-danger">Condition type error
                </small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="equipmentPrice" class="text-white font-weight-bold">Equipment Price (BGN)</label>
                <input th:field="*{equipmentPrice}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Equipment Price in BGN"/>
                <!--                <p class="invalid-feedback errors alert alert-danger">-->
                <!--                    Wrong Price information. Have to be 0 or positive number.-->
                <!--                </p>-->
                <small
                        th:errors="*{equipmentPrice}" class="text-danger">Price type error
                </small>
            </div>

        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" th:for="equipmentDescription">Equipment description</label>
            <textarea
                    th:field="*{equipmentDescription}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="5"
                    placeholder="Description">

            </textarea>
            <!--            <p class="invalid-feedback errors alert alert-danger">-->
            <!--                Description is required.-->
            <!--            </p>-->
            <small
                    th:errors="*{equipmentDescription}" class="text-danger">Description error
            </small>
        </div>

        <hr class="mt-3 mb-3"/>

        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <!--                <div class="row device-images pb-1">-->
                <div id="image-inputs" class="col-md-12">
                    <div th:each="image, iterStat : ${addEquipmentDTO.images}">
                        <div class="input-group mb-3">
                            <input type="text"
                                   th:value="${equipmentImages}" th:field="*{images[__${iterStat.index}__]}"
                                   class="form-control" placeholder="Image URL"
                                   th:classappend="${#fields.hasErrors('images[__${iterStat.index}__]')} ? 'text-danger bg-warning' : ''">
                            <div class="input-group-append">
                                <!--            Items will be added here                -->
                                <button class="btn btn-danger" type="button" onclick="removeImageInput(this)">Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-info btn-lg" id="add-image-button">Add Image</button>
                </div>
                <!--                </div>-->
            </div>

            <div class="form-group col-md-6 mb-3">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit Equipment"/>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>

<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>