<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>MotorcycleBG</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'all-parts'})}"></div>

<div class="container-fluid">
  <h2 class="text-center text-black mt-5">All Parts</h2>
  <div
          th:each="parts : ${allParts}"
          th:object="${parts}"
          class="offers row mx-auto d-flex flex-row justify-content-center">

    <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">

      <div class="card-img-top-wrapper">
        <img class="card-img-top" alt="Motorcycle image"  th:src="*{images.get(0)}" />
      </div>

      <div class="card-body pb-1">
        <h5 class="card-title">
          <div class="card-text"><strong><span th:text="*{partsBrand()}">Parts brand</span></strong></div>
        </h5>
      </div>

      <ul class="offer-details list-group list-group-flush">
        <li class="list-group-item">
          <!--                    <div class="card-text">• Brand: <span th:text="*{brandType()}"></span></div>-->
          <!--                        <div class="card-text">• Category: <span th:text="*{categoryType}"></span></div>-->
          <!--                        <div class="card-text">• Condition: <span th:text="*{conditionType}">Condition</span></div>-->
          <!--                    <div class="card-text"><strong>• Cubic centimeters: </strong><span th:text="*{cubicCentimeters}">Cubic centimeters</span> ccm</div>-->
          <!--                    <div class="card-text"><strong>• Year: </strong><span th:text="*{year()}">Year</span></div>-->
          <!--                    <div class="card-text"><strong>• Mileage: </strong><span th:text="*{mileage()}">Mileage</span></div>-->
          <!--                        <div class="card-text">• Engine type <span th:text="*{engineType()}"></span></div>-->

          <!--                        <div class="card-text">• Transmission type <span th:text="*{transmissionType()}"></span></div>-->
          <!--                        <div class="card-text">• Color: <span th:text="*{color}">Color</span></div>-->
          <!--                        <div class="card-text">• Description: <span th:text="*{description}">Description</span></div>-->
          <div class="card-text"><strong>• Price: </strong><span id="price" th:text="*{partsPrice}">Parts price</span>
            <select id="currency">
              <option
                      th:each="currency : *{allCurrencies}"
                      th:value="${currency}"
                      th:selected="${currency} == 'BGN'"
                      th:text="${currency}"
              >

              </option>
            </select>
          </div>
        </li>
      </ul>
      <input type="hidden" id="priceInBGN" th:value="*{partsPrice}">

      <div class="card-body">
        <a th:href="@{/parts/parts-details/{id}/details(id=3,action='show_all')}"/>

        <a class="card-link" th:href="@{/parts/details/{id}(id=*{id})}">Details</a>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/currency.js}"></script>
<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>