<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>MotorcycleBG</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'parts-details'})}"></div>

<div class="container-fluid">

  <h2 class="text-center text-black mt-5">User Details</h2>

  <div
          th:object="${userDetails}"
          class="offers row mx-auto d-flex flex-row justify-content-center">

    <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

      <div class="card-body pb-1">
        <h5 class="card-title">
          <div class="card-text"><strong><span th:text="*{email}">Email</span></strong>
          </div>
        </h5>
      </div>

      <ul class="offer-details list-group list-group-flush">
        <li class="list-group-item">
          <!--Cubic centimeters, Category, Color, Condition-->

          <br>

          <div class="card-text"><strong>• First name: </strong><span th:text="*{firstName}">First name</span>
          </div>

          <br>

          <div class="card-text"><strong>• Last name: </strong><span th:text="*{lastName}">Last name</span>
          </div>

          <br>


        </li>
      </ul>

      <div class="card-body">

        <form sec:authorize="hasRole('ADMIN')"
              th:method="delete"
              th:action="@{/admin/users/{id}(id=*{id})}">
          <input class="btn btn-link" type="submit" value="delete"/>
        </form>
      </div>
    </div>

    </div>

  </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>